<div id="container">
  <div id="input">

    <div id="weatherInput">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Weather
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div id="weatherGrid">
          <mat-label>Wind</mat-label>
          <mat-slider
            thumbLabel
            tickInterval="1"
            min="1"
            max="500"
            value="100"
            id="wind"
            [(ngModel)]="dto.wind"></mat-slider>
          <mat-label>Temperature</mat-label>
          <mat-slider
            thumbLabel
            tickInterval="1"
            min="1"
            max="500"
            value="100"
            id="temperature"
            [(ngModel)]="dto.temperature"></mat-slider>
          <mat-label>Pressure</mat-label>
          <mat-slider
            thumbLabel
            tickInterval="1"
            min="1"
            max="500"
            value="100"
            id="pressure"
            [(ngModel)]="dto.pressure"></mat-slider>
          <mat-label>Humidity</mat-label>
          <mat-slider
            thumbLabel
            tickInterval="1"
            min="1"
            max="500"
            value="100"
            id="humidity"
            [(ngModel)]="dto.humidity" [required]></mat-slider>
        </div>
      </mat-expansion-panel>
    </div>
    <div id="bikeShareInput">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Traffic Data
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div id="trafficGrid">
          <mat-label>Traffic Amount</mat-label>
          <mat-slider
            thumbLabel
            tickInterval="1"
            min="1"
            max="500"
            value="100"
            id="trafficAmount"
            [(ngModel)]="dto.trafficAmount"></mat-slider>
          <mat-label>Traffic Speed</mat-label>
          <mat-slider
            thumbLabel
            tickInterval="1"
            min="1"
            max="500"
            value="100"
            id="trafficSpeed"
            [(ngModel)]="dto.trafficSpeed"></mat-slider>
          <mat-label>Traffic Travel Time</mat-label>
          <mat-slider
            thumbLabel
            tickInterval="1"
            min="1"
            max="500"
            value="100"
            id="trafficTravelTime"
            [(ngModel)]="dto.trafficTravelTime"></mat-slider>
        </div>
      </mat-expansion-panel>

    </div>
    <button mat-raised-button color="primary" id="submit" (click)="submit()" >Calc Traffic</button>
  </div>
  <div id="dbadMapAccident"></div>
  <div class="legend">
    Traffic
    <canvas id="legendCanvas"></canvas>
    <span class="legend-min">-30%</span>
    <span class="legend-mid">0%</span>
    <span class="legend-max">30%</span>
    <br />
    <button mat-raised-button id="playPauseBtn"  (click)="togglePlayPause()" >Play/Pause</button><span class="legend-label">0:00</span>
  </div>
</div>
