@use "src/app/app.component";

#dbadMap{

  /*
  height: 550pt;
  width: 1300pt;

   */
  height: calc(100vh - (2 * #{app.$border} + 2 * #{app.$padding} + 7rem) );
  width: calc(78vw - (3 * #{app.$border} + 4 * #{app.$padding}));
}

#input{
  width: calc(100% - (2 *(#{app.$border}) + 2 * #{app.$padding}));
}


#container{
  width: 100%;
  display: grid;
  grid-template-columns: 20% calc(70vw - (3 * #{app.$border} + 4 * #{app.$padding}));;
  gap: 10px;
  padding-top: 16pt;
  padding-left: 8pt;
}

#weatherGrid{
  display: grid;
  grid-template-columns: 33% 66%;
}

mat-label{
  grid-column: 1;
  padding-top: 12%;
  padding-bottom: 12%;
  width: 100%;
  font-size: 1em;
}

mat-slider{
  width: auto;
}

mat-expansion-panel{
  margin: 1em;
}

#submit{
  margin: 1em;
}

.legend {
  position: relative;
  bottom: 120%;
  left: 110%;
  width: 256px;
  height: 80px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 32px;
}

#legendCanvas {
  width: 256px;
  height: 15px;
  margin-top:5px;
}

.legend-mid {
  margin: 0 0 0 85px;
}

.legend-max {
  float: right;
}

.legend-label {
  margin-left: 40px;
}

#colorContainer {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  background-color: #CA5010;
}

#popup{
  padding: 4pt;
}

#playPauseBtn{
  align-self: center;
}
