@use "src/styles";

$padding: 4px;
$border: 15px;
$icon-size: 64px;

#wrapper {

  padding: $padding;
  border-color: map-get(styles.$dbad-primary, 700);
  border-style: solid;
  border-width: $border;
  height: calc(100% - (2 * #{$border} + 2 * #{$padding}));
}

.tab {
  align-content: end;
  height: 64px;
  font-size: 16pt;
}

#grid {


  display: grid;
  grid-template-columns: $icon-size calc(100% - #{$icon-size});
}

/*.outlet {
  padding-top: 64px;
  padding-left: 96px;
}

 */
